# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [13]:
country_val = ['A', 'B', 'C', 'D']
population_val = np.random.randint(1,50000000,size=4)
print(population_val)

list_labels = ['country', 'population']
list_cols = [country_val, population_val]
zipped = list(zip(list_labels, list_cols))
print(zipped)

[ 1347472 24065197 10102318 35821017]
[('country', ['A', 'B', 'C', 'D']), ('population', array([ 1347472, 24065197, 10102318, 35821017]))]

In [17]:
data1 = pd.DataFrame(dict(zipped))
data1

  country  population
0       A     1347472
1       B    24065197
2       C    10102318
3       D    35821017

In [22]:
data1[data1['population'] == data1['population'].max()]

  country  population
3       D    35821017